{%  extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}

{% block page_title %}
    Django Projects
{% endblock page_title %}

{% block custom_CSS %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js plugins="ALL" %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock custom_CSS %}

{% block body %}
    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>
    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
        <header class="header-style nav-on-top bg-white">
            <div class="main-nav">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg nav-secondary nav-primary-hover nav-line-active">
                                <a class="navbar-brand" href="{% url "main_app:index" %}">
                                    <img class="nav-logo" src="{% static 'images/logo/logo11.png' %}" alt="Logo">
                                </a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                       data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ms-auto">
                                       <li class="nav-item">
                                            <a class="nav-link" href="{% url "main_app:index" %}">{% trans "Home" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "main_app:projects" %}">{% trans "All Projects" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "main_app:index" %}#about">{% trans "About This System" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "main_app:index" %}#contact">{% trans "Contact" %}</a>
                                        </li>
                                        {% if not user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "accounts:login" %}">{% trans "Login" %}</a>
                                        </li>
                                        {% endif %}
                                    </ul>

                                    {% if user.is_authenticated %}
                                        <ul class="navbar-nav ms-auto sm-mx-none ps-3 user-option">
                                            <li class="nav-item dropdown">
                                                <img src="{{ user.get_logo_image_or_avatar }}" alt="">
                                                <a class="dropdown-toggle" href="#">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}</a>
                                                <ul class="dropdown-menu">
                                                    {% if user.is_developer %}
                                                        <li><a class="dropdown-item"
                                                               href="{% url "main_app:my-project-list" %}">{% trans "My Projects" %}</a>
                                                        </li>
                                                    {% endif %}

                                                    <li><a class="dropdown-item"
                                                           href="{% url "main_app:my-subscribe-list" %}">{% trans "Subscriptions" %}</a>
                                                    </li>

                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% if user.is_developer %}{% url "accounts:developer-profile" %}{% else %}{% url "accounts:client-profile" %}{% endif %}">
                                                            {% trans "My Profile" %}
                                                        </a>
                                                    </li>
                                                    <li><a class="dropdown-item"
                                                           href="{% url "accounts:change-password" %}">{% trans "Change Password" %}</a>
                                                    </li>

                                                    <li><a class="dropdown-item"
                                                           href="{% url "accounts:logout" %}">{% trans "Logout" %}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="success">
                        <strong>{{ message.tags }}</strong> {{ message }}.
                        <a href="#" style="float: right" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!--============== Header Section End ==============-->
        {% block page_header %}

        {% endblock page_header %}
        <!--============== Property Grid View Start ==============-->
        <div class="full-row pt-0">
            <div class="container">
                {% block main_content %}
                
                {% endblock main_content %}
            </div>
        </div>
        <!--============== Property Grid View End ==============-->

        <!--============== Footer Section Start ==============-->
        <footer class="full-row footer-default-dark bg-footer" style="padding-bottom: 30px">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget mb-4">
                            <div class="footer-logo mb-4">
                                <a href="#"><img src="{% static 'images/logo.jpg' %}" alt="{% trans 'Image not found!' %}" /></a>
                            </div>
                            <p></p>
                        </div>
                        <div class="footer-widget media-widget mb-4">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget contact-widget mb-4">
                            <h3 class="widget-title mb-4">{% trans "Contact Info" %}</h3>
                            <ul>
                                <li>Unicoder Design Agency 301 The Greenhouse, Custard Factory, London, E3 8DY.</li>
                                <li>+1 246-345-0695</li>
                                <li>helpline@homex.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget footer-nav mb-4">
                            <h3 class="widget-title mb-4">{% trans "Quick Links" %}</h3>
                            <ul>
                                <li><a href="#">{% treans "Our Services" %}</a></li>
                                <li><a href="#">{% treans "Investment Solution" %}</a></li>
                                <li><a href="#">{% treans "requenly Ask Question" %}</a></li>
                                <li><a href="#">{% treans "ow It Work" %}</a></li>
                                <li><a href="#">{% treans "ecome a Member" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget newslatter-widget mb-4">
                            <h4 class="widget-title mb-4">{% trans "Appointment" %}</h4>
                            <p>Litora ligula dapibus scelerisque vitae, fermentum aenean gravida lobortis mus pulvinar magna turient primis.</p>
                            <a href="#" class="btn btn-primary w-100">{% trans "Register Now" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
        <div class="copyright bg-footer text-default py-4">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <span class="text-white">© 2022 Uniland {% trans "All right reserved" %}</span>
                    </div>
                    <div class="col">
                        <ul class="line-menu float-end list-color-gray">
                            <li><a href="#">{% trans "Privacy & Policy" %} </a></li>
                            <li>|</li>
                            <li><a href="#">{% trans "Site Map" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <a href="#" class="text-general scroll-top-vertical xs-mx-none" id="scroll">{% trans "Scroll to top" %}</a>
        <!-- End Scroll To top -->

        {% block modal %}
        {% endblock modal %}
    </div>
{% endblock body %}
{% block Custom_JS %}
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function(i, block){
                hljs.highlightBlock(block);
        });
       $('#single-property').layerSlider({
            sliderVersion: '6.5.0b2',
            type: 'popup',
            pauseOnHover: 'disabled',
            skin: 'photogallery',
            globalBGSize: 'cover',
            navStartStop: false,
            hoverBottomNav: true,
            showCircleTimer: false,
            thumbnailNavigation: 'always',
            tnContainerWidth: '100%',
            tnHeight: 70,
            popupShowOnTimeout: 1,
            popupShowOnce: false,
            popupCloseButtonStyle: 'background: rgba(0,0,0,.5); border-radius: 2px; border: 0; left: auto; right: 10px;',
            popupResetOnClose: 'disabled',
            popupDistanceLeft: 20,
            popupDistanceRight: 20,
            popupDistanceTop: 20,
            popupDistanceBottom: 20,
            popupDurationIn: 750,
            popupDelayIn: 500,
            popupTransitionIn: 'scalefromtop',
            popupTransitionOut: 'scaletobottom',
            skinsPath: "{% static 'skins' %}",
        });
    </script>
{% endblock Custom_JS %}
</body>
</html>