{% extends 'main/main_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load martortags %}

{# TODO: Fix This template. It doesnt have main_content bloc #}
{% block page_header %}
    <div class="full-row">
        <div class="container">
            <h3>{{ project.name }}</h3><br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="fag-category list-color-general list-text-hover-primary py-5 px-4 bg-white border rounded mb-5">
                        <li>
                            <a href="{% url "main_app:create-main-phase" project.pk %}" class="text-primary me-4 mb-1">
                                {% trans "Add New Main Phase" %}
                                <i class="fas fa-edit"></i>
                            </a>
                        </li>
                        <ul>
                            {% for phase in project.main_phases.all %}
                                <li>
                                    {% if phase.sub_phases.count > 0 %}
                                        <a href="{% url "main_app:main_phase" phase.pk %}">
                                    {% else %}
                                        <a href="#">
                                    {% endif %}
                                    {% if phase.pk == main_phase.pk %}
                                        <b>{{ phase.title }}</b>
                                    {% else %}
                                        {{ phase.title }}
                                    {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="simple-collaps px-4 py-3 bg-white border rounded mb-3">
                        <div class="row row-cols-1">
                            <div class="col">
                                <ul class="nav justify-content-center">
                                    {% for sub in main_phase.sub_phases.all %}
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page"
                                               href="{% url "main_app:sub-phase" sub.pk %}">
                                                {% if sub == sub_phase %}
                                                    <b>{{ sub.title }}</b>
                                                {% else %}
                                                    {{ sub.title }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-simple tab-action">
                                    <div class="property-overview border rounded bg-white p-30 mb-30">
                                        <div class="px-4 py-3">
                                            <div class="col-md-12 mb-20">
                                                <form class="form-boder"
                                                      action="{% url 'main_app:add-update' sub_phase.pk %}"
                                                      method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ addForm|crispy }}
                                                    <button type="submit" class="btn btn-primary" name="submitbasic">
                                                        {% trans "Add Update" %}
                                                    </button>
                                                </form>
                                            </div>
                                            {% for update in updates %}
                                                <div class="media">
                                                    <img src="{{ project.developer.get_logo_image_or_avatar }}"
                                                         class="me-3 rounded-circle"
                                                         alt="{{ project.developer }}">
                                                    <div class="media-body">
                                                        <div class="row d-flex align-items-center">
                                                            <h5 class="col-auto mb-0">{{ project.developer.get_full_name }}</h5>
                                                        </div>
                                                        <div class="comments-date mb-2">
                                                            <span>{% trans "Posted On" %} {{ update.update_date }}</span><a
                                                                href="#"></a></div>
                                                        <p>{{ update.description|safe_markdown }}</p>
                                                        {% for attachment in update.attachments.all %}
                                                            {% if attachment.extension == ".pdf" %}
                                                                <a href="{{ attachment.update_file.url }}">
                                                                    <img src="{% static 'images/pdf.png' %}"
                                                                         width="70px">
                                                                </a>
                                                            {% elif attachment.extension == ".docx" %}
                                                                <a href="{{ attachment.update_file.url }}">
                                                                    <img src="{% static 'images/word.png' %}"
                                                                         width="70px">
                                                                </a>
                                                            {% else %}
                                                                <img src="{{ attachment.update_file.url }}"
                                                                     width="200"
                                                                     height="200"
                                                                     class="img-thumbnail"
                                                                     alt="attachment {{ attachment.pk }}"/>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% empty %}
                                                {% trans "There are no updates" %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "pagination.html" %}
{% endblock page_header %}
