{% extends 'main/project_update_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block inner_edit_space %}
    <div class="row">
        <div class="col mb-30">
            <div class="border rounded bg-white p-30">
                <div class="row">
                    <div class="col-md-12 mt-20">
                        <ul class="row row-cols-xl-6 row-cols-md-3 row-cols-2 media-upload">
                            {% for image in project.project_images.all %}
                                <li class="col">
                                    <img src="/media/{{ image.image }}" class="rounded pb-30" alt="{{ image.alt }}">
                                    <a href="#" title="{% trans "Remove image" %}"><i class="fas fa-trash"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <form method="POST" class="form-boder" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col-md-12 mb-20">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                        <div class="col-md-12 mb-20">
                            <button type="submit" class="btn btn-primary"
                                    name="submitbasic">{% trans 'Upload Image' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock inner_edit_space %}
