{% extends 'global/base.html' %}
{% load i18n %}
{% load static %}
{% block main_body %}
<h1 class="h3 mb-2 text-gray-800">{{ user.username }} Projects:</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Area</th>
                    <th>Developer</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        {#                                            <td>{{ project.name }}</td>#}
                        <td>
                            <a href="{% url 'main_app:project-details' pk=project.id %}">{{ project.name }}</a>
                        </td>
                        <td>{{ project.get_type_display }}</td>
                        <td>{{ project.get_statue_display }}</td>
                        <td>{{ project.location }}</td>
                        <td>{{ project.area }}</td>
                        <td>{{ project.developer }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="{% url 'main_app:add-project' %}" class="btn btn-primary btn-user btn-block">
    Add New Preoject
</a>
{% endblock main_body %}
