{% extends 'main_app/base1.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main_content %}
<div class="row">
    <div class="col mb-30">
        <div class="border rounded bg-white p-30">
            <h4 class="mb-4">You are going to delete <b style="color: red;">test</b> project</h4>
            <form class="form-boder" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col-md-12 mb-20">
                        <a class="btn btn-primary" href="{% url 'main_app:index' %}">Cancel</a>
                        <button type="submit" class="btn btn-primary" name="submitbasic">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}

