{% extends 'dashboards/base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_header %}
<div class="row">
    <div class="col">
        <h3 class="my-3">My Projects List</h3>
    </div>
</div>
{% endblock page_header %}

{% block main_containt %}
<div class="row">
    <div class="col">
        <div class="dashboard-panel border bg-white rounded overflow-hidden w-100">
            <div class="overflow-x-scroll font-fifteen">
                <table class="w-100 items-list bg-transparent">
                    <thead>
                        <tr class="bg-white">
                            <th>Name</th>
                            <th>type</th>
                            <th>current status</th>
                            <th>area</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>
                                <img class="rounded" src="{{ project.get_first_image_or_default }}" alt="">
                                <div class="property-info d-table">
                                    <h5 class="text-secondary font-400">{{ project.name }}</h5>
                                    <span><i class="fas fa-map-marker-alt text-primary font-13"></i> {{ project.location }}</span>
                                </div>
                            </td>
                            <td>{{ project.get_type_display }}</td>
                            <td>{{ project.get_statue_display }}</td>
                            <td>{{ project.area }}</td>
                            <td>
                                <a href="{% url 'main_app:project-update' project.pk %}" class="text-primary me-4 mb-1"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'main_app:project-delete' project.pk %}" class="text-primary mb-1"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="dashboard-panel border bg-white rounded overflow-hidden w-100">
                <div class="col">
                    <a href="{% url 'main_app:add-project' %}" class="btn btn-outline-primary">Add New Project</a>
                </div>
            </div>
            {% include 'global/pagination.html' %}
        </div>
    </div>
</div>
{% endblock main_containt %}
