{% load static %}
{% load i18n %}
{% load leaflet_tags %}
<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Real Estate</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js plugins="ALL" %}
</head>
<body>
    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>
    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
        <header class="nav-on-top shadow-sm bg-white">
            <div class="main-nav py-2 xs-p-0">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg nav-secondary nav-primary-hover nav-line-active">

                                <a class="navbar-brand" href="#">
                                    <img class="nav-logo" src="{% static 'images/logo.jpg' %}" alt="Image not found !">
                                </a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                                  </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Projects</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="{% url 'main_app:index' %}">All Projects</a></li>
                                                {% if user.is_authenticated %}
                                                <li><a class="dropdown-item" href="{% url 'main_app:my-subscribed-list' %}">Subscribe Projects</a></li>
                                                    {% if user.is_developer %}
                                                <li><a class="dropdown-item" href="{% url 'main_app:my-project-list' %}">{% trans "Project Developed By Me" %}</a></li>
                                                     {% endif %}
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% if user.is_authenticated %}
                                            <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">admin</a>
                                            <ul class="dropdown-menu">
                                                {% if user.is_developer %}
                                                <li><a class="dropdown-item" href="{% url 'main_app:my-project-list' %}">Dashboard</a></li>
                                                {% endif %}
                                                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Contact</a>
                                        </li>
                                    </ul>
                                    {% if user.is_authenticated %}
                                    <ul class="navbar-nav border-start sm-mx-none ps-3">
                                        <li class="nav-item">
                                            {% if user.is_developer %}
                                            <a class="nav-link" href="{% url 'accounts:developer-profile' %}">
                                            {% else %}
                                            <a class="nav-link" href="{% url 'accounts:client-profile' %}">
                                            {% endif %}
                                                <i class="fas fa-user me-1"></i>
                                                Welcome {{ user.username }}
                                            </a>
                                        </li>
                                    </ul>
                                    {% else %}
                                    <ul class="navbar-nav border-start sm-mx-none ps-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'accounts:login' %}">
                                                <i class="fas fa-user me-1"></i>
                                                Login/Register
                                            </a>

                                        </li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--============== Header Section End ==============-->
        {% block page_header %}
        
        {% endblock page_header %}

        <!--============== Property Grid View Start ==============-->
        <div class="full-row pt-0">
            <div class="container">
                {% block main_content %}
                
                {% endblock main_content %}
            </div>
        </div>
        <!--============== Property Grid View End ==============-->

        <!--============== Footer Section Start ==============-->
        <footer class="full-row footer-default-dark bg-footer" style="padding-bottom: 30px">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget mb-4">
                            <div class="footer-logo mb-4">
                                <a href="#"><img src="{% static 'images/logo.jpg' %}" alt="Image not found!" /></a>
                            </div>
                            <p>Risus commodo congue augue phas ellus morbi hymenaeos ante tincidu eu orci dictum bibe ndum lacus pla tea primis mi lacinia</p>
                        </div>
                        <div class="footer-widget media-widget mb-4">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget contact-widget mb-4">
                            <h3 class="widget-title mb-4">Contact Info</h3>
                            <ul>
                                <li>Unicoder Design Agency 301 The Greenhouse, Custard Factory, London, E3 8DY.</li>
                                <li>+1 246-345-0695</li>
                                <li>helpline@homex.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget footer-nav mb-4">
                            <h3 class="widget-title mb-4">Quick Links</h3>
                            <ul>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Investment Solution</a></li>
                                <li><a href="#">Frequenly Ask Question</a></li>
                                <li><a href="#">How It Work</a></li>
                                <li><a href="#">Become a Member</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget newslatter-widget mb-4">
                            <h4 class="widget-title mb-4">Appointment</h4>
                            <p>Litora ligula dapibus scelerisque vitae, fermentum aenean gravida lobortis mus pulvinar magna turient primis.</p>
                            <a href="#" class="btn btn-primary w-100">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
        <div class="copyright bg-footer text-default py-4">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <span class="text-white">© 2022 Uniland All right reserved</span>
                    </div>
                    <div class="col">
                        <ul class="line-menu float-end list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <a href="#" class="text-general scroll-top-vertical xs-mx-none" id="scroll">Scroll to top</a>
        <!-- End Scroll To top -->

        <!--============== Modal Start ==============-->
        <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="close view-close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body property-block summary p-3">
                        <div class="row row-cols-xl-2 row-cols-1">
                            <div class="col">
                                <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom m-2">
                                    <div class="cata position-absolute">
                                        <span class="sale bg-secondary text-white">For Rent</span>
                                        <span class="featured bg-primary text-white">Featured</span>
                                    </div>
                                    <a href="#"><img class="w-100" src="{% static 'images/property/2.png' %}" alt=""></a>
                                    <ul class="position-absolute quick-meta">
                                        <li><a href="#"><i class="flaticon-transfer flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-share flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-printer flat-mini"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="property_text transation py-3 pe-3">
                                    <span class="d-inline-block text-primary">Condos</span>
                                    <h5 class="modal-title mb-1" id="staticBackdropLabel"><a href="#" class="text-secondary hover-text-primary transation">Luxury Condos Infront of the street of Green Park</a></h5>
                                    <span class="mt-1 mb-3 d-block font-fifteen"><i class="fas fa-map-marker-alt text-primary"></i> 2305 Tree Frog Lane Overlandpk, MO 66210</span>
                                    <a href="#" class="d-block text-light hover-text-primary font-small mb-2">( 100 People Recommended )</a>
                                    <div class="d-flex">
                                        <span class="text-secondary font-large">$5600 - $8300/<small>mo</small></span>
                                        <span class="text-white font-mini px-2 rounded product-status ms-5 my-1 bg-primary"><i class="fas fa-check"></i> Available</span>
                                    </div>
                                    <div class="product-offers mt-3">
                                        <ul class="product-offers-list">
                                            <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                            <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                            <li class="product-offer-item"> <strong>No cost EMI $49/month.</strong> Standard EMI also available</li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="quantity">
                                        <ul class="d-flex">
                                            <li><span>Rooms:</span> 5</li>
                                            <li><span>Beds:</span> 3</li>
                                            <li><span>Bathrooms:</span> 2</li>
                                            <li><span>Garage:</span> 1</li>
                                            <li><span>Area:</span> 1100 Sqft</li>
                                        </ul>
                                    </div>
                                    <h5 class="text-secondary my-3">Description</h5>
                                    <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra consequat consequat
                                        gravida luctus.</p>
                                    <div class="short-description d-flex">
                                        <span class="me-4"><b>Highlights:</b></span>
                                        <div class="short-description">
                                            <ul class="list-style-tick">
                                                <li>Regular Fit.</li>
                                                <li>Full sleeves.</li>
                                                <li>Machine wash, tumble dry.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center post-meta mt-2 py-3 border-top">
                                        <div class="agent">
                                            <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2" src="{% static 'images/team/1.jpg' %}" alt="avata"><span>Ali Tufan</span></a>
                                        </div>
                                        <div class="post-date ms-auto"><span>2 Month Ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Modal End ==============-->

    </div>

    <!-- Javascript Files -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/greensock.js' %}"></script>
    <script src="{% static 'js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/piechart/chart.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/range/tmpl.js' %}"></script>
    <script src="{% static 'js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'js/range/draggable.js' %}"></script>
    <script src="{% static 'js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/paraxify.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
            $('#single-property').layerSlider({
                sliderVersion: '6.5.0b2',
                type: 'popup',
                pauseOnHover: 'disabled',
                skin: 'photogallery',
                globalBGSize: 'cover',
                navStartStop: false,
                hoverBottomNav: true,
                showCircleTimer: false,
                thumbnailNavigation: 'always',
                tnContainerWidth: '100%',
                tnHeight: 70,
                popupShowOnTimeout: 1,
                popupShowOnce: false,
                popupCloseButtonStyle: 'background: rgba(0,0,0,.5); border-radius: 2px; border: 0; left: auto; right: 10px;',
                popupResetOnClose: 'disabled',
                popupDistanceLeft: 20,
                popupDistanceRight: 20,
                popupDistanceTop: 20,
                popupDistanceBottom: 20,
                popupDurationIn: 750,
                popupDelayIn: 500,
                popupTransitionIn: 'scalefromtop',
                popupTransitionOut: 'scaletobottom',
                skinsPath: "{% static 'skins' %}",
            });
        </script>

</body>
</html>